<!-- Quit application if user is not set -->
<div ng-show="checkLogin();"></div>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#/myRequests">YouGo-AngularJS</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#/myRequests">Mes demandes</a></li>
          <li><a href="#/newRequest">Nouvelle demande</a></li>
          <li class="dropdown">
            <a href="#" ng-show="user.admin" class="dropdown-toggle" data-toggle="dropdown">Admin <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#/validateRequests">Valider des demandes</a></li>
              <li><a href="#/manageUsers">Gérer les utilisateurs</a></li>
              <li><a href="#/manageUserTypes">Gérer les types d'utilisateurs</a></li>
              <li><a href="#/manageRequestTypes">Gérer les types de demandes</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#"class="dropdown-toggle" data-toggle="dropdown">{{user.fullName}} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#" ng-click="signout();">Déconnexion</a></li>
              <li><a href="#changePasswordModal" data-toggle="modal">Changer le mot de passe</a></li>
            </ul>
          </li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<!-- Delete User Modal -->
<div id="changePasswordModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="changePasswordModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="changePasswordModalLabel">Modifier votre mot de passe</h3>
  </div>
  <div class="modal-body">
    <table>
      <tr>
        <td>Ancien mot de passe : </td>
        <td><input type="text" name="oldPassword"/></td>
      </tr>
      <tr>
        <td>Nouveau mot de passe : </td>
        <td><input type="text" name="newPassword"/></td>
      </tr>
      <tr>
        <td>Confirmation nouveau mot de passe : </td>
        <td><input type="text" name="oldPasswordBis"/></td>
      </tr>
    </table>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
    <button class="btn btn-primary">Modifier</button>
  </div>
</div>