<ng-include src="'partials/header.html'"></ng-include>

<div class="container">

  <h1>Utilisateurs</h1>
  <div>
    <div class="alert" ng-hide="message==''">{{message}}</div>
    <div>
      <a class="btn btn-primary" href="#addUserModal" data-toggle="modal">Ajouter un utilisateur</a>
      <br />
      <br />
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Actif ?</th>
            <th>Admin ?</th>
            <th>Nom</th>
            <th>Email</th>
            <th>Type</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="user in users">
            <td>{{user.id}}</td>
            <td>{{user.actif}}</td>
            <td>{{user.admin}}</td>
            <td>{{user.prenom}} {{user.nom}}</td>
            <td>{{user.email}}</td>
            <td>{{getUserTypeById(user.type).description}}</td>
            <td><a href="#editUserModal" data-toggle="modal" ng-click="selectUser(user.id);"><i class="icon-pencil"></i></a></td>
            <td><a href="#deleteUserModal" data-toggle="modal" ng-click="selectUser(user.id);"><i class="icon-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Delete User Modal -->
  <div id="deleteUserModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="deleteUserModalLabel">Supprimer le compte utilisateur</h3>
    </div>
    <div class="modal-body">
      <p>Etes vous sur de vouloir supprimer le compte utilisateur de<br />{{selectedUser.nom}} ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-danger" data-dismiss="modal" ng-click="removeUser(selectedUser.id);">Supprimer</button>
    </div>
  </div>

  <!-- Edit User Modal -->
  <div id="editUserModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editUserModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="editUserModalLabel">Modifier le compte utilisateur</h3>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td>ID : </td>
          <td>{{selectedUser.id}}</td>
        </tr>
        <tr>
          <td>Nom : </td>
          <td><input type="text" name="name" ng-model="selectedUser.nom"/></td>
        </tr>
        <tr>
          <td>Email : </td>
          <td><input type="email" name="email" ng-model="selectedUser.email"/></td>
        </tr>
        <tr>
          <td>Actif ? : </td>
          <td><input type="checkbox" name="isActive" ng-model="selectedUser.actif"/></td>
        </tr>
        <tr>
          <td>Admin ? : </td>
          <td><input type="checkbox" name="isAdmin" ng-model="selectedUser.admin"/></td>
        </tr>
        <tr>
          <td>Type : </td>
          <td>
            <select name="type" ng-model="selectedUser.type" ng-options="ut.id as ut.description for ut in userTypes"></select>
          </td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-primary">Modifier</button>
    </div>
  </div>

  <!-- Add User Modal -->
  <div id="addUserModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="addUserModalLabel">Ajouter un compte utilisateur</h3>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td>Nom : </td>
          <td><input type="text" name="name" ng-model="newUser.nom"/></td>
        </tr>
        <tr>
          <td>Email : </td>
          <td><input type="email" name="email" ng-model="newUser.email"/></td>
        </tr>
        <tr>
          <td>Actif ? : </td>
          <td><input type="checkbox" name="isActive" ng-model="newUser.actif"/></td>
        </tr>
        <tr>
          <td>Admin ? : </td>
          <td><input type="checkbox" name="isAdmin" ng-model="newUser.admin"/></td>
        </tr>
        <tr>
          <td>Type : </td>
          <td>
            <select name="type" ng-model="newUser.type" ng-options="ut.id as ut.description for ut in userTypes"></select>
          </td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-primary" data-dismiss="modal" ng-click="addUser(newUser);">Ajouter</button>
    </div>
  </div>

  <ng-include src="'partials/footer.html'"></ng-include>

</div> <!-- /container -->
