<ng-include src="'partials/header.html'"></ng-include>

<div class="container">

  <h1>Types d'utilisateur</h1>
  <div>
    <div class="alert">
      Message d'information sur le résultat d'une action
    </div>
    <div>
      <a class="btn btn-primary" href="#addUserTypeModal" data-toggle="modal">Ajouter un type d'utilisateur</a>
      <br />
      <br />
      <table class="table table-hover table-condensed">
        <thead>
          <tr>
            <th>ID</th>
            <th>Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="userType in userTypes">
            <td>{{userType.id}}</td>
            <td>{{userType.description}}</td>
            <td><a href="#editUserTypeModal" data-toggle="modal"><i class="icon-pencil"></i></a></td>
            <td><a href="#deleteUserTypeModal" data-toggle="modal" ng-click="initDeleteUserTypeModal(userType.id);"><i class="icon-trash"></i></a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Delete User Type Modal -->
  <div id="deleteUserTypeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteUserTypeModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="deleteUserTypeModalLabel">Supprimer le type de compte utilisateur</h3>
    </div>
    <div class="modal-body">
      <p>Etes vous sur de vouloir supprimer le type de compte utilisateur <br />{{selectedUserType.id}}: "{{selectedUserType.description}}" ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-danger">Supprimer</button>
    </div>
  </div>

  <!-- Edit User Type Modal -->
  <div id="editUserTypeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editUserTypeModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="editUserTypeModalLabel">Modifier le type de compte utilisateur</h3>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td>ID : </td>
          <td>1</td>
        </tr>
        <tr>
          <td>Description : </td>
          <td><input type="text" name="description" value="Consulant"/></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-primary">Modifier</button>
    </div>
  </div>

  <!-- Add User Type Modal -->
  <div id="addUserTypeModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="addUserTypeModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="deleteUserTypeModalLabel">Ajouter un type de compte utilisateur</h3>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td>ID : </td>
          <td>1</td>
        </tr>
        <tr>
          <td>Description : </td>
          <td><input type="text" name="description" /></td>
        </tr>
      </table>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-primary">Ajouter</button>
    </div>
  </div>

  <ng-include src="'partials/footer.html'"></ng-include>

</div> <!-- /container -->
