<h1>Gérer les types d'utilisateurs</h1>
<div>
  <div class="alert">
    Message d'information sur le résultat d'une action
  </div>
  <div>
    <table>
      <tr>
      	<td>ID : </td>
      	<td>1</td>
      </tr>
      <tr>
      	<td>Description : </td>
      	<td><input type="text" name="description" /></td>
      </tr>
      </tr>
    </table>
    <div>
      <input type="submit" name="addUpdate" value="Ajouter/Modifier" class="btn"/>
      <input type="submit" name="addUpdate" value="Supprimer" class="btn"/>
      <a class="btn" href="#/manageUserTypesList">Annuler</a>
    </div>
  </div>
</div>
