<ng-include src="'partials/header.html'"></ng-include>

<div class="container">

  <h1>Gérer les types d'utilisateurs</h1>
  <div>
    <div class="alert">
      Message d'information sur le résultat d'une action
    </div>
    <div>
      <form method="POST" action="">
        <table>
          <tr>
            <td>ID : </td>
            <td>1</td>
          </tr>
          <tr>
            <td>Description : </td>
            <td><input type="text" name="description" /></td>
          </tr>
        </table>
        <div>
          <input type="submit" name="addUpdate" value="Ajouter" class="btn btn-primary"/>
          <a class="btn" href="#/manageUserTypesList">Annuler</a>
        </div>
      </form>
    </div>
  </div>

  <ng-include src="'partials/footer.html'"></ng-include>

</div> <!-- /container -->
