<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="#">YouGo-AngularJS</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li><a href="#/myRequests">Mes demandes</a></li>
          <li><a href="#/newRequest">Nouvelle demande</a></li>
          <li><a href="#/validateRequests">Valider des demandes</a></li>
          <li><a href="#/manageUsersList">Gérer les utilisateurs</a></li>
          <li><a href="#/manageUserTypesList">Gérer les types d'utilisateurs</a></li>
          <li><a href="#/manageRequestTypesList">Gérer les types de demandes</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">

  <h1>Gérer les utilisateurs</h1>
  <div>
    <div class="alert">
      Message d'information sur le résultat d'une action
    </div>
    <div>
      <form method="POST" action="">
        <table>
          <tr>
        	  <td>ID : </td>
        	  <td>1</td>
          </tr>
          <tr>
        	  <td>Nom : </td>
        	  <td><input type="text" name="name" /></td>
          </tr>
          <tr>
        	  <td>Email : </td>
        	  <td><input type="email" name="email"/></td>
          </tr>
          <tr>
        	  <td>Actif ? : </td>
        	  <td><input type="checkbox" name="isActive"/></td>
          </tr>
          <tr>
        	  <td>Admin ? : </td>
        	  <td><input type="checkbox" name="isAdmin"/></td>
          </tr>
          <tr>
        	  <td>Type : </td>
        	  <td>
              <select name="type">
                <option value="1">Consultant</option>
                <option value="2">Ressources Humaines</option>
                <option value="3">Direction</option>
                <option value="4">Commercial</option>
              </select>
          	</td>
          </tr>
        </table>
        <div>
          <input type="submit" name="addUpdate" value="Ajouter/Modifier" class="btn btn-primary"/>
          <input type="submit" name="addUpdate" value="Supprimer" class="btn btn-danger"/>
          <a class="btn" href="#/manageUsersList">Annuler</a>
        </div>
      </form>
    </div>
  </div>

  <div>YouGo-AngularJS: v<span app-version></span></div>

</div> <!-- /container -->
