<h1>Utilisateurs</h1>
<div>
  <div class="alert">
    Message d'information sur le résultat d'une action
  </div>
  <div>
    <a class="btn btn-primary" href="#/manageUsers">Ajouter un utilisateur</a>
    <br />
    <br />
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Actif ?</th>
          <th>Admin ?</th>
          <th>Nom</th>
          <th>Email</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>true</td>
          <td>false</td>
          <td>Kristina CHUNG</td>
          <td>kristina.kristina@company.com</td>
          <td><a href="#/manageUsers"><i class="icon-pencil"></i></a></td>
          <td><a href=""><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>2</td>
          <td>true</td>
          <td>false</td>
          <td>Paige CHEN</td>
          <td>paige.paige@company.com</td>
          <td><a href="#/manageUsers"><i class="icon-pencil"></i></a></td>
          <td><a href=""><i class="icon-trash"></i></a></td>
        </tr>
        <tr>
          <td>3</td>
          <td>true</td>
          <td>false</td>
          <td>Sherri MELTON</td>
          <td>sherri.sherri@company.com</td>
          <td><a href="#/manageUsers"><i class="icon-pencil"></i></a></td>
          <td><a href=""><i class="icon-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
