<ng-include src="'partials/header.html'"></ng-include>

<div class="container">

  <h1>Mes demandes</h1>

  <div class="alert">
    Message d'information sur le résultat d'une action
  </div>

  <div>
    <a href="http://almende.github.com/chap-links-library/timeline.html">Timeline</a>
  </div>
  <div>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Type</th>
          <th>Du</th>
          <th>Au</th>
          <th>Observation</th>
          <th>Réponse</th>
          <th>Statut</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in requests">
          <td>{{getRequestTypeById(request.type).description}}</td>
          <td>{{request.du}}</td>
          <td>{{request.au}}</td>
          <td>{{request.observation}}</td>
          <td>{{request.reponse}}</td>
          <td>{{getRequestStatusById(request.statut).description}}</td>
          <td><a href="#editRequestModal" data-toggle="modal"><i class="icon-pencil"></i></a></td>
          <td><a href="#deleteRequestModal" data-toggle="modal"><i class="icon-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Delete Request Modal -->
  <div id="deleteRequestModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteRequestModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="deleteRequestModalLabel">Supprimer la demande de congé</h3>
    </div>
    <div class="modal-body">
      <p>Etes vous sur de vouloir supprimer la demande <br /> de RTT du 22/10/2010 au 24/10/2010 ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-danger">Supprimer</button>
    </div>
  </div>

    <!-- Edit Request Modal -->
  <div id="editRequestModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editRequestModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="editRequestModalLabel">Modifier la demande de congé</h3>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td>Type</td>
          <td>
            <select name="type">
              <option ng-repeat="requestType in requestTypes" value="{{requestType.id}}">{{requestType.description}}</option>
            </select>
          </td>
        </tr>
        <tr>
          <td>Du</td>
          <td><input type="text" name="from" value="23/12/2010"/></td>
        </tr>
        <tr>
          <td>Au</td>
          <td><input type="text" name="to" value="03/01/2011"/></td>
        </tr>
        <tr>
          <td>Observation</td>
          <td><textarea rows="8" cols="100" style="width:90%">Vacances de Noel</textarea></td>
        </tr>
    </table>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-primary">Modifier</button>
    </div>
  </div>

  <ng-include src="'partials/footer.html'"></ng-include>

</div> <!-- /container -->
