<ng-include src="'partials/header.html'"></ng-include>

<div class="container">

  <h1>Mes demandes</h1>

  <div class="alert" ng-hide="message==''">{{message}}</div>

  <div>
    <a href="http://almende.github.com/chap-links-library/timeline.html">Timeline</a>
  </div>
  <div>
    <table class="table table-hover table-condensed">
      <thead>
        <tr>
          <th>Type</th>
          <th>Du</th>
          <th>Au</th>
          <th>Observation</th>
          <th>Réponse</th>
          <th>Statut</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="request in getUserRequests(user.id)">
          <td>{{getRequestTypeById(request.type).description}}</td>
          <td>{{request.du | date: 'dd/MM/yyyy'}}</td>
          <td>{{request.au | date: 'dd/MM/yyyy'}}</td>
          <td>{{request.observation}}</td>
          <td>{{request.reponse}}</td>
          <td>{{getRequestStatusById(request.statut).description}}</td>
          <td><a ng-show="getRequestStatusById(request.statut).editable" href="#editRequestModal" data-toggle="modal" ng-click="selectRequest(request.id);"><i class="icon-pencil"></i></a></td>
          <td><a ng-show="getRequestStatusById(request.statut).editable" href="#deleteRequestModal" data-toggle="modal" ng-click="selectRequest(request.id);"><i class="icon-trash"></i></a></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Delete Request Modal -->
  <div id="deleteRequestModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="deleteRequestModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="deleteRequestModalLabel">Supprimer la demande de congé</h3>
    </div>
    <div class="modal-body">
      <p>Etes vous sur de vouloir supprimer la demande <br /> de {{getRequestTypeById(selectedRequest.type).description}} du {{selectedRequest.du}} au {{selectedRequest.au}} ?</p>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-danger">Supprimer</button>
    </div>
  </div>

    <!-- Edit Request Modal -->
  <div id="editRequestModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="editRequestModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
      <h3 id="editRequestModalLabel">Modifier la demande de congé</h3>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td>Type</td>
          <td>
            <select name="type" ng-model="selectedRequest.type" ng-options="rt.id as rt.description for rt in requestTypes"></select>
          </td>
        </tr>
        <tr>
          <td>Du</td>
          <td><input type="text" name="from" ng-model="selectedRequest.du"/></td>
        </tr>
        <tr>
          <td>Au</td>
          <td><input type="text" name="to" ng-model="selectedRequest.au"/></td>
        </tr>
        <tr>
          <td>Observation</td>
          <td><textarea rows="8" cols="100" style="width:90%" ng-model="selectedRequest.observation"></textarea></td>
        </tr>
    </table>
    </div>
    <div class="modal-footer">
      <button class="btn" data-dismiss="modal" aria-hidden="true">Annuler</button>
      <button class="btn btn-primary">Modifier</button>
    </div>
  </div>

  <ng-include src="'partials/footer.html'"></ng-include>

</div> <!-- /container -->
