<link href="css/signin.css" rel="stylesheet"/>

<div class="container">

  <form class="form-signin">
    <h2 class="form-signin-heading">YouGo</h2>
    <input type="text" ng-model="login" class="input-block-level" placeholder="Email">
    <input type="password" ng-model="password" class="input-block-level" placeholder="Mot de passe">
    <input type="submit" ng-click="signin(login, password);" class="btn btn-large btn-primary" value="OK"/>
    <br /><br />
    <div class="alert alert-error" ng-hide="message==''">{{message}}</div>
    <div class="alert alert-info">
      <b>Administrateur : </b><i ng-click="login='kristina.kristina@company.com';password='pass'" class="icon-pencil"></i><br />
      Login : kristina.kristina@company.com<br />
      Pass : pass
    </div>
    <div class="alert alert-info">
      <b>Collaborateur : </b><i ng-click="login='paige.paige@company.com';password='pass'" class="icon-pencil"></i><br />
      Login : paige.paige@company.com<br />
      Pass : pass
    </div>
  </form>

</div> <!-- /container -->
